@font-face {
  font-family: 'suse';
  src: url(../fonts/SUSEMono-Italic-VariableFont_wght.ttf); 
}

body {
    margin: 0;
    background-color: rgb(155, 150, 150);
}
.container {
    position: absolute;
    height: 90vh;
    width: 70vw;
    top: 5vh;
    left: 15vw;
    background-color: white;
    display: flex;
}

.leftContainer {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

}
.rightContainer {
    width: 70%;
    background-color: grey;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#searchContainer {
    display: flex;
    top: 1rem;
    position: absolute;;
}
#searchContainer > form {
    align-items: center;
}
#magnifyIcon {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
#targetLocation {
    border: 0;
}

#confirmLocation {

    background-image: url("../weather_icons/target.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    border:0;
    background-color: white;
    margin-left: 5px;
}
#leftWeatherIcon {
     height: 10rem;
     width: 10rem;
}

#leftTemperature {
    font-size: 4rem;
    font-family: 'suse', monospace;
    margin: 0;
   
}

#dayTimeContainer {
    font-size: 1.5rem;
    font-family: 'suse', monospace;
    margin: 0;
    display: flex;
}

.rightHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'suse', monospace;
}
.choices {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-left: 1rem;
}
.choiceClicked {
    font-weight: bold;
    text-decoration: underline;
}
.temperatureUnits {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-right: 1rem;
}

.temperatureUnit {
    display: flex;
    border-radius: 50%;
    background-color: white;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
}
.temperatureUnitClicked {
    font-weight: bold;
    background-color: black;
    color: white;
}

.daysContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

}
.dayCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dayCard img {
    height: 50%;
    width: 50%;
}

